{
    "presets": [ //a collection of code transform plugins which apply the actual transformation to the code
        ["@babel/env", {
            "targets": {
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}