* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

:root {
    --white: #fefefe;
    --light: #E1E3DD;
    --medium: #ECAD39;
    --medium-rgb: 236, 173, 57;
    --dark: #ff8b00;
    --black: #181716;
    --gray: #BEB8A6;
    --light-gray: #E3E2DD;
    --red: #D01616;
    --red-rgb: 208, 22, 22;
    --dark-red: #6b0b0b;
    --dark-red-rgb: 107, 11, 11;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: var(--light-gray);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--medium);
    border-bottom: solid 5px var(--black);
    padding: 1rem 0;
}

.challenge-header {
    justify-content: space-between;
    padding: 1rem 2rem;
}

.back-button {
    color: var(--black);
    font-size: 3rem;
}

.page-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

a {
    text-decoration: none;
}

.ordered-list {
    counter-reset: list-counter;
}

.ordered-list-item {
    counter-increment: list-counter;
    position: relative;
}

.ordered-list-item::before {
    content: counter(list-counter);
    position: absolute;
    line-height: 2rem;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    border: #181716 2px solid;
    border-radius: 50%;
    text-align: center;
    background: var(--medium);
    color: var(--black);
}

button {
    box-shadow: 1px 1px 3px 0px var(--medium);
    border-radius:12px;
    border:1px solid rgba(var(--medium-rgb), 0.4);
    display:inline-block;
    cursor:pointer;
    color:var(--medium);
    font-weight:bold;
    padding:16px 32px;
    text-decoration:none;
    background-color: transparent;
}
button:hover {
    background: rgba(var(--medium-rgb), 0.75);
    color: var(--black);
}
button:active {
    outline: none;
    position:relative;
    top:0.5px;
}
button:focus {
    outline: none;
}

input {
    height: 2rem;
    margin: 0;
    padding: 0 10px;
    background: #fff;
    border: 2px solid #e9e9e9;
    outline: none;
    color: #262b31;
    box-shadow: none;
    font-size: 1rem;
    border-radius: 2px;
}
input:focus {
    box-shadow: 0 0 5px rgba(var(--medium-rgb), 0.75);
    border: 2px solid rgba(var(--medium-rgb), 0.75);
}

input.error {
    position: relative;
    box-shadow: 0 0 5px rgba(var(--red-rgb), 0.75);
    border: 2px solid rgba(var(--red-rgb), 0.75);
}